
main{
    padding-top: 130px;
    background-image: url('/recursos/img/wwe-ring-dentro.jpg');
    background-size: cover;
    background-position: center ;
    height: 100vh;
    position: relative;
}
.filtro-pagina{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fdfdfd98;
    width: 100%;
    height: 100%;
    padding-top: 130px;
}
.TodoElTextoModoVs{
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    flex-direction: row;
}
.TituloModoVS{
    left: 10%; 
    color: #030303;
    font-size: 8em;
    font-family: 'Geologica';
    font-style: italic;
    animation: aparicionTitulo ease-out 5s;
    background-color: rgba(0, 0, 255, 0);
    flex: 1;
}
.puradescripcion{
    flex: 1;
    margin-left: -5%;
    display: flex;
    flex-direction: column;
}
.explicacion_muycorta{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
    padding-right: 30px;
}
.caracteristicas{
    font-size: 14px;
    font-style: italic;
    font-size: 14px;
    font-weight: 500;
    color: rgb(34, 34, 34);
}
.caracteristicas span{
    font-style: normal;
    font-weight: 600;
    color: #030303;
}
.MiCarta{
    position: absolute;
    left: 20%;
    top: 35%;
    z-index: 2;
    opacity: 1;
}
.CartaRival{
    position: absolute;
    right: 21%;
    top: 35%;
}
/*inicio cartas*/
.CartaCompleta{
    width: 320px;
    height: 450px;
    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.27);
    background-color: rgb(255, 255, 255);
    font-family: 'Geologica';
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
    scale: 0.8;
    opacity: 0;
}
.CartaCompleta:hover{
    box-shadow: 0px 20px 16px 0px rgba(0, 0, 0, 0.466);
}
.DisenoCarta{
    background-color: rgb(10, 18, 94);
    width: 92%;
    height: 92%;
    border-radius: 20px;
    background-image: url(/recursos/img/oro.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.CartaLuchadorFondo{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background-image: url(/recursos/img/rey_misterio_card.png);
    background-size: 150%;
    background-position: 60% 0%; 
}
.FiltroCarta{
    background-color: #c99507d0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
}
.DivisionColor{
    position: absolute;
    top: 0;
    right: 2%;
    width: 100px;
}
.DivisionColor img{
    width: 100%;
}
.PoderCarta{
    position: absolute;
    top: 5px;
    left: 20px;
    background-color: rgba(255, 0, 0, 0);
    gap: 0px;
}
.PoderCarta h5{
    font-size: 16px;
    margin: 0;
    line-height: 1;
}
.PoderCarta h3{
    font-size: 55px;
    margin: -12px;
}
.CartaLuchadorFrente{
    position: absolute;
    top: 100px;
    right: -1.5%;
    border-radius: 20px;
    height: 230px;
}
.CartaLuchadorFrente img{
    height: 100%;
}
.NombreLuchadorCarta{
    position: absolute;
    top: 275px;
    left: 2%;
    transform: scaleY(1.2);
}
.PrimerNombreLuchadorCarta{
    font-size: 25px;
    font-weight: bold;
}
.SegundoNombreLuchadorCarta{
    font-weight: bold;
    color: white;
    margin-top: -12px;
    font-size: clamp(22px, 5vw, 42px);
    max-width: 250px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.DescripcionCarta{
    position: absolute;
    width: 100%;
    height: 90px;
    background-color: #030303;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.TextoDescripcionCarta{
    color: white;
    font-family: 'Lexend Exa';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    padding-left: 6px;
    padding-right: 6px;
}

/*fincarta*/

.CartaCombateAnimation{
    animation: movimientos ease 5s infinite;
}

@keyframes movimientos {
    0% {
        transform: translate(0, 0) scale(1);
    }
    5%{
        transform: translate(-20px, 0px) scale(0.9) rotate(-4deg);
    }
    10%{
        transform: translate(450px, -70px) scale(1.1) rotate(30deg);
    }
    15%{
        transform: translate(460px, -70px) scale(1.05) rotate(-30deg);
    }
    20%{
        transform: translate(460px, -70px) scale(1.03) rotate(20deg);
    }
    25%{
        transform: translate(460px, -70px) scale(1.02) rotate(-20deg);
    }
    27%{
        transform: translate(460px, -70px) scale(1.01) rotate(0deg);
    }
    35%{
        transform: translate(200px, -10px) scale(0.8) rotate(20deg);
    }
    40% {
        transform: translate(300px, -1000px) scale(0.7) rotate(-20deg);
    }
    50%{
        transform: translate(400px, -40px) scale(1) rotate(70deg);
    }
    63%{
        transform: translate(100px, -20px) scale(1) rotate(-360deg);
    } 
    70%{
        transform: translate(20px, 0px) scale(1) rotate(-270deg) rotateX(15deg);
    }
    79%{
        transform: translate(-40px, 0px) scale(1) rotate(-270deg) rotateX(45deg);
    }
    90%{
        transform: translate(400px, -70px) scale(1.1) rotate(-87deg);
    }
    100% {
        transform: translate(0, 0) scale(1.);
    }
}


.atacar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 17%;
    left: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Geologica';
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    border: none;
    display: none;
    z-index: 3;
}
.atacar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 150px; 
    background-color: red;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.atacar:hover::before {
    transform: scale(1.1);
    opacity: 1;
}
.atacar:hover h3{
    color: white;
}
.atacar H3{
    z-index: 200;
    transition: 0.5s;
}
.empezar_partida{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 17%;
    left: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Geologica';
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    border: none; 
}
.empezar_partida::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 150px; 
    background-color: red;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.empezar_partida:hover::before {
    transform: scale(1.1);
    opacity: 1;
}
.empezar_partida:hover h3{
    color: white;
}
.empezar_partida H3{
    z-index: 300;
    transition: 0.5s;
}

.puntajes_generales{
    margin-top: 12px;
    flex: 1;
    display: none;
    flex-direction: row-reverse;
}
.puntajes_maximos{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.puntajes_actuales{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.puntajeActualTitle{
    
    font-size: 1.4rem;
}
.puntajeActualValor{ 
    font-size: 5.3rem;
    font-style: italic;
}
.puntajeMaximoTitle{
    
    font-size: 1.4rem;
}
.puntajeMaximoValor{
    
    font-size: 5.3rem;
    font-style: italic;
}
.cronometro{
    position: absolute;
    top: 55%;
    font-size: 64px;
    left: 4%;
}

.contenedor-barra {
  width: 50px;
  height: 360px; 
  background-color: white;
  position: absolute;
  top: 41.5%;
  right: 19%;
  display: flex;
  justify-content: center;
  align-items: flex-end; /* importante para llenar desde abajo */
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 10px
}

.barra-vida {
  width: 75%;
  height: 100%;
  background-color: green;
  transition: height 0.3s ease, background-color 0.3s ease;
  border-radius: 10px;
}
.dano {
    top: 51%;
    left: 47%;
    position: absolute;
    font-size: 30px;
    opacity: 1;
    z-index: 2;
    pointer-events: none; 
    user-select: none;
    transition: opacity 0.4s ease;
    animation: floatUpSimple 0.9s ease-out forwards;
    position: absolute;
}
@keyframes floatUpSimple {
    to {
        transform: translate(0px, -80px) scale(2) rotate(0deg);
        opacity: 0;
    }
}

@keyframes giroRapidoDerecha {
    0% { transform: rotate(0deg) scale(1); }
    50% { transform: rotate(20deg) scale(1.05); }
    100% { transform: rotate(0deg) scale(1); }
}

@keyframes giroRapidoIzquierda {
    0% { transform: rotate(0deg) scale(1); }
    50% { transform: rotate(-20deg) scale(1.05); }
    100% { transform: rotate(0deg) scale(1); }
}

.giroDerecha {
    animation: giroRapidoDerecha 0.3s ease;
}

.giroIzquierda {
    animation: giroRapidoIzquierda 0.3s ease;
}
.TuPuntajeFinal{
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: #030303c1;
    top: 0;
    left: 0;
    z-index: 1000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
.TuPuntajeFinalContenedor{
    min-width: 700px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
.TuPuntajeFinalContenedor h1{
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 60px;
}
.TuPuntajeFinalContenedor h2{
    font-size: 24px;
}
.TuPuntajeFinalContenedor  h2 span{
    color: red;
}
.FelicitacionNuevoRecord{
    color: red;
    animation: multicolor infinite 2s;
    margin-bottom: 5px;
    opacity: 0;
}
.TuPuntajeFinalContenedor h4{
    margin-bottom: 4px;
}
.TuPuntajeFinalContenedor h3{
    font-size: 22px;
    color: rgb(255, 157, 0);
    font-style: italic;
    margin-bottom: 20px;
}
.TuPuntajeFinal button a{
    text-decoration: none;
    color: red;
    font-weight: 600;
    transition: 0.3s;
}
.TuPuntajeFinal button{
    border-color: red;
    background-color: white;
    padding: 10px;
    transition: 0.5s; 
}
.TuPuntajeFinalContenedor div button:hover{
    border-color: white;
    background-color: red;
}
.TuPuntajeFinalContenedor div button:hover A{
    color: white;
    padding: 30px;
}
.TuPuntajeFinalContenedor div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@keyframes multicolor {
    0%{
        color: red;
    }
    20%{
        color: rgb(153, 4, 153);
    }
    40%{
        color: rgb(193, 146, 6);
    }
    60%{
        color: blue;
    }
    80%{
        color: green;
    }
    100%{color: red;}
    
}